.light-background{
    -fx-background-color: rgba(165, 165, 165, 0.3);
}

.month-label{
    -fx-font-family: "Roboto Light";
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 12;
    -fx-text-fill: WHITE;
    -fx-display: flex;
    -fx-alignment: center;
}

.day-label{
    -fx-font-family: "Roboto Light";
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 48;
    -fx-text-fill: WHITE;
    -fx-display: flex;
    -fx-alignment: center;
}
